* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1p';
}
body {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
    color: #323A49;
}
.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1129px;
    height: 106px;
    padding: 28px 10px 29px 10px;
}
.header-container_name {
    display: flex;
}
.header-container_name img {
    padding-right: 15px;
}
.name-logo_top {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.name-logo_bottom {
    font-weight: 900;
    font-style: normal;
    font-size: 23px;
    line-height: 34px;
    text-transform: uppercase;
    text-align: justify
}
.header-container_special {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #275BA8;
}
.header-container_special div {
    display: flex;
}
.header-container_message div {
    display: flex;
}
.header-container_login div {
    display: flex;
}
.envelope-box p {
    width: 69px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
.envelope-box img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
.navbar-container {
    display: flex;
    margin: 0 auto;
    height: 50px;
    background-color: #275BA8;
}
.navbar-container ul {
    margin: 0 auto;
    display: flex;
	list-style-type: none;
	align-items: center;
    text-transform: uppercase;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
.navbar-container a {
	text-decoration: none;
}
.navbar-container a:visited {
	color: #FFF;
}
.navbar-container li {
    padding: 14.5px 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
}
.swipe-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    height: 602px;
    background-color: #F1F7FF;
}
.swipe-container_box {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1129px;
    height: 602px;
}
.swipe-box_tittle h1 {
    padding-top: 90px;
    width: 450px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 112%;
}
.swipe-box_tittle p {
    width: 450px; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 45px;
}
.swipe-box_button {
	display: flex;
}
.swipe-box_button a {
    border-radius: 5px;
    max-width: 250px;
	width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #275BA8;
    text-decoration: none;
    border: 1px solid #275BA8;
    padding: 15px 20px 15px 20px;
    text-align: center;
}
.swipe-box_clicker {
    display: flex;
    padding-top: 60px;
    margin: 0 auto;
}
.swiper-clicker {
    width: 100%;
    max-width: 23px;
    height: 4px;
    background-color: #C7D0E2;
    margin-right: 10px;
}
.swiper-clicker.active {
    background-color: #275BA8;
}
.swipe-box_img {
    position: relative;
}
.img-swiper {
    display: flex;
    position: absolute;
    height: 602px;
    width: 1007px;
    background-position: right;
    background: linear-gradient(90deg, #F1F7FF 3%, rgba(241, 247, 255, 0) 100%), 
    linear-gradient(to left, #F1F7FF 3%, rgba(241, 247, 255, 0) 50%),
    url(../img/electro_counter.png) no-repeat;
}
.img-arrows {
    display: flex;
    flex-direction: column;
	position: relative;
	left: 592px;
	top: 275px;
    width: 36px;
    height: 36px;
}
.img-arrows img {
    width: 36px;
    height: 36px;
}
.left-arrow {
    transform: rotate(180deg);
    filter: alpha(Opacity=50);
    opacity: 0.5; 
}
.box-container_elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1129px;
    padding: 60px 10px 0px 10px;
    margin: 0 auto;
}
.elements-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 538px;
    height: 140px;
    background-color: #F4F8FD;
    margin-bottom: 30px;
    padding-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
}
.elements-box:nth-child(odd) {
    margin-right: 32px;
}
.elements-box img {
    padding-right: 30px;
}
.elements-box p {
    width: 354px;
}
.news-container {
    width: 100%;
    max-width: 1129px;
    padding: 30px 10px 0px 10px;
    margin: 0 auto;
}
.news-content {
    display: flex;
    justify-content: space-between;
}
.news-content_box {
    max-width: 350px;
    width: 100%;
}
.news-container_tittle {
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
}
.news-content_box img {
    padding-bottom: 15px;
}
.news-content_box time {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #858C9C;
}
.news-content_box h4 {
    padding-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}
.news-content_box p {
    padding-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.links-container {
    width: 100%;
    max-width: 1129px;
    padding: 60px 10px 60px 10px;
    margin: 0 auto;
}
.links-content {
    display: flex;
    justify-content: space-between;
}
.links-content_box {
    display: flex;
    max-width: 350px;
    width: 100%;
    height: 90px;
    align-items: center;
    border: 1px solid #E6E8EC;
}
.links-content_box img {
    margin-right: 20px;
    margin-left: 15px;
    width: 60px;
    height: 60px;
}
.info-container {
    width: 100%;
    max-width: 1129px;
    padding: 0px 10px 30px 10px;
    margin: 0 auto;
}
.info-content {
    display: flex;
    justify-content: space-between;
}
.info-content_box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 306px;
}
.info-content_box text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}
.info-content_box a {
    font-family: 'M plus 1p', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    padding-top: 15px;
}
.info-content_box {
    font-family: 'M plus 1p Bold';
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
.info-content_box a:visited {
    color: #323A49;
}
.info-content_box div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info-content_login a {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}
